<!-- Scroll to top -->
<a href="#top" class="scroll-top h-14 aspect-square shadow"><i class="fa-solid fa-arrow-up"></i> </a>
<!-- Footer -->
<footer class="flex flex-col bg-white bg-half relative">
  <div class="container mx-auto h-full py-16 z-10">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-4">
      <div class="flex flex-col justify-center gap-4">
        <a href="index.html" class="flex items-center gap-1 site-logo"
          ><img src="assets/images/logo.png" alt="PanduCovid" class="h-9" /> <span class="text-xl font-semibold">PanduCovid</span></a
        >
        <p class="-mt-2">
          PanduCovid adalah media informasi seputar COVID-19 untuk menunjang informasi yang dibutuhkan oleh masyarakat. Dimulai dari proses penularan, gejala,
          hingga varian terbaru dari Covid-19.
        </p>
        <div class="flex gap-4">
          <a href="#" class="text-2xl text-facebook"><i class="fa-brands fa-facebook-square"></i> </a
          ><a href="#" class="text-2xl text-instagram"><i class="fa-brands fa-instagram"></i> </a
          ><a href="#" class="text-2xl text-twitter"><i class="fa-brands fa-twitter"></i> </a
          ><a href="#" class="text-2xl text-youtube"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
      <div></div>
      <div class="flex flex-col justify-center">
        <h6 class="text-xl font-normal mb-4">Tautan terkait</h6>
        <a class="nav-link font-normal" href="informasi.html">Informasi</a>
        <a class="nav-link font-normal" href="vaksin.html">Vaksin</a>
        <a class="nav-link font-normal" href="province.html">Provinsi</a>
        <a class="nav-link font-normal" href="rujukan.html">Rujukan</a>
      </div>
    </div>
  </div>
  <div class="container mx-auto h-full z-10 text-sm md:text-base">
    <div class="flex items-center justify-between p-5 border-t">
      <span><i class="fa-regular fa-copyright"></i> 2022 PanduCovid</span>
      <a href="#">Kebijakan Privasi</a>
    </div>
  </div>
</footer>
