<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>PanduCovid - Informasi Terkini COVID-19 di Indonesia</title>
<meta name="description" content="Media informasi seputar COVID-19 di Indonesia." />
<link rel="shortcut icon" href="assets/favicon.ico" />
<!-- Css -->
<link rel="stylesheet" href="css/globals.css" />
<link rel="stylesheet" href="css/main.css" />
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
<!-- Js -->
<script type="module" defer="defer" src="js/app.js"></script>
