:root {
  --border-opacity: 1;
  --text: #3d4b69;
  --body: #f7f9fe;
  --white: #ffffff;
  --font-body: "Inter";
  --font-title: "Lexend";
  --primary: #1965ff;
  --gray: #f7f9fe;
  --sky: #0ea5e9;
  --rose: #f43f5e;
  --primary-active: #004ce5;
}
.text-primary {
  color: var(--primary);
}
.text-facebook {
  color: #1877f2;
}
.text-instagram {
  color: #e4405f;
}
.text-twitter {
  color: #1da1f2;
}
.text-youtube {
  color: red;
}
.bg-text {
  background-color: var(--text);
}
html {
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  background-color: var(--body);
  color: var(--text);
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body {
  font-family: inherit;
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
button {
  background-color: transparent;
  background-image: none;
}
fieldset {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  font-family:
    var(--font-body),
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  line-height: 1.5;
}
body {
  font-family: inherit;
  line-height: inherit;
}
*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
hr {
  border-top-width: 1px;
}
img {
  border-style: solid;
}
textarea {
  resize: vertical;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
input:focus {
  outline: 0;
}
[role="button"],
button {
  cursor: pointer;
}
:-moz-focusring {
  outline: auto;
}
table {
  border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title), var(--font-body), serif;
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden] {
  display: none;
}
*,
::after,
::before {
  --border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--border-opacity));
}
.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.form-control:focus-within {
  color: var(--primary);
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color: currentColor;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid currentColor;
  border-radius: 50%;
  position: relative;
}
input[type="radio"]:checked {
  border-color: var(--primary);
}
input[type="radio"]::before {
  content: "";
  position: absolute;
  inset: 0.15rem;
  margin: auto;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition:
    120ms transform ease-in-out,
    120ms -webkit-transform ease-in-out;
  transition:
    120ms transform ease-in-out,
    120ms -webkit-transform ease-in-out;
  background-color: var(--primary);
}
input[type="radio"]:checked::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  transition-property:
    padding,
    height,
    position,
    -webkit-filter;
  transition-property:
    padding,
    height,
    position,
    -webkit-filter;
  transition-property: padding, height, filter, position;
  transition-property:
    padding,
    height,
    filter,
    position,
    -webkit-filter;
  transition-property:
    padding,
    height,
    filter,
    position,
    -webkit-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  background: var(--white);
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
}
.navbar.animate {
  padding: 0;
  height: 5rem;
  transition-duration: 0.25s;
  -webkit-filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  transition-duration: 0.3s;
}
.btn {
  --bg: transparent;
  --txt: var(--text);
  color: var(--txt);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  background-color: var(--bg);
  transition-property:
    color,
    background-color,
    border-color,
    fill,
    stroke,
    -webkit-text-decoration-color;
  transition-property:
    color,
    background-color,
    border-color,
    fill,
    stroke,
    -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    -webkit-text-decoration-color;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.btn:focus {
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1),
    0 -10px -15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}
.btn-primary {
  --txt: #fff;
  --bg: var(--primary);
  border-color: var(--primary);
}
.btn-primary:hover {
  --bg: var(--primary-active);
  border-color: var(--primary-active);
}
.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.nav-link {
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  opacity: 0.75;
  padding: 0.25rem;
}
.nav-link.active {
  color: var(--primary);
  opacity: 1;
}
.nav-link.active::before {
  background-color: currentColor;
}
.nav-link:focus-visible,
.nav-link:hover {
  opacity: 1;
  outline: 0;
}
.nav-link::before {
  transition: 0.3s;
  height: 5px;
  content: "";
  position: absolute;
  left: 0;
  background-color: currentColor;
}
.nav-link-grow-up::before {
  height: 0%;
  width: 100%;
  bottom: 0;
}
.nav-link-grow-up:focus-visible::before,
.nav-link-grow-up:hover::before {
  outline: 0;
  height: 3px;
}
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property:
    opacity,
    -webkit-filter;
  transition-property:
    opacity,
    -webkit-filter;
  transition-property: opacity, filter;
  transition-property:
    opacity,
    filter,
    -webkit-filter;
  transition-property:
    opacity,
    filter,
    -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  background-color: currentColor;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 35px;
  height: 3px;
  background-color: currentColor;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property:
    transform,
    -webkit-transform;
  transition-property:
    transform,
    -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::after,
.hamburger-inner::before {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::after,
.hamburger--vortex .hamburger-inner::before {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
  transition-property:
    bottom,
    -webkit-transform;
  transition-property:
    bottom,
    -webkit-transform;
  transition-property: bottom, transform;
  transition-property:
    bottom,
    transform,
    -webkit-transform;
  transition-property:
    bottom,
    transform,
    -webkit-transform;
}
.hamburger--vortex.is-active .hamburger-inner {
  -webkit-transform: rotate(765deg);
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::after,
.hamburger--vortex.is-active .hamburger-inner::before {
  transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.bg-line {
  z-index: 1;
  background-image: linear-gradient(-170deg, #e1ecff 0, transparent 40%);
}
.bg-line::before {
  z-index: -1;
  content: "";
  position: absolute;
  inset: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../assets/images/shape-line.png);
}
.news-link:hover i {
  -webkit-animation: bounce-x 1s infinite;
  animation: bounce-x 1s infinite;
}
@-webkit-keyframes bounce-x {
  0%,
  100% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
@keyframes bounce-x {
  0%,
  100% {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
.sidebar {
  position: fixed;
  inset: 0;
  right: auto;
  z-index: 60;
  visibility: hidden;
  max-width: 250px;
  background: var(--white);
  transition: all 0.5s;
}
.sidebar-effect.sidebar {
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.sidebar-open .sidebar-effect.sidebar {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media screen and (min-width: 1024px) {
  .sidebar-open .sidebar-effect.sidebar {
    width: 0;
    visibility: hidden;
  }
}
.search-box {
  --space: 1rem;
  position: fixed;
  inset: var(--space);
  z-index: 60;
  margin: auto;
  aspect-ratio: 1/1.25;
  visibility: hidden;
  width: calc(100vw - (var(--space) * 2));
  transition:
    opacity 0.5s,
    visibility 0.5s 0.25s,
    -webkit-transform 1s;
  transition:
    transform 1s,
    opacity 0.5s,
    visibility 0.5s 0.25s;
  transition:
    transform 1s,
    opacity 0.5s,
    visibility 0.5s 0.25s,
    -webkit-transform 1s;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
}
.search-open .search-box {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: -webkit-transform 0.75s;
  transition: transform 0.75s;
  transition:
    transform 0.75s,
    -webkit-transform 0.75s;
  transition:
    transform 0.75s,
    -webkit-transform 0.75s;
}
@media screen and (min-width: 768px) {
  .search-box {
    aspect-ratio: 1/0.75;
    width: calc(100vw - (var(--space) * 4));
  }
}
@media (min-width: 1024px) {
  .search-box {
    height: 75%;
    aspect-ratio: 1.5/1;
    width: auto;
  }
}
.prevention-box {
  position: relative;
  background-color: var(--sky);
  border-radius: 0.25rem;
  padding: 2rem 0.5rem;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property:
    transform,
    -webkit-transform;
  transition-property:
    transform,
    -webkit-transform;
  transition-duration: 0.5s;
}
.prevention-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px) scale(1.025);
  transform: translateY(-5px) scale(1.025);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition:
    transform 0.3s,
    -webkit-transform 0.3s;
  transition:
    transform 0.3s,
    -webkit-transform 0.3s;
}
.prevention-box.danger {
  background-color: var(--rose);
}
.bg-virus::after {
  content: "";
  z-index: -1;
  inset: 0;
  position: absolute;
  margin: auto;
  background-position: center;
  background-image: url(../assets/images/shape-virus.png);
}
.card {
  position: relative;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.card img,
.card > img {
  vertical-align: top;
  max-width: 100%;
}
.card figcaption {
  position: absolute;
  inset: 0;
}
.card a {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.card,
.card *,
.card :after,
.card :before,
.card::after,
.card::before {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
.card:hover figcaption {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.card-slide-up figcaption {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.card-slide-down figcaption {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.card-slide-left figcaption {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.card-slide-right figcaption {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slider {
  -webkit-animation: slide 20s infinite;
  animation: slide 20s infinite;
  background-image: url(../assets/images/soap-on-hand.png);
}
@-webkit-keyframes slide {
  0% {
    opacity: 1;
    background-image: url(../assets/images/soap-on-hand.png);
  }
  20% {
    opacity: 1;
    background-image: url(../assets/images/palm-to-palm.png);
  }
  40% {
    opacity: 1;
    background-image: url(../assets/images/between-fingers.png);
  }
  60% {
    opacity: 1;
    background-image: url(../assets/images/back-to-hands.png);
  }
  64% {
    opacity: 1;
    background-image: url(../assets/images/clean-with-water.png);
  }
  80% {
    opacity: 1;
    background-image: url(../assets/images/focus-on-wrist.png);
  }
  100% {
    opacity: 1;
    background-image: url(../assets/images/soap-on-hand.png);
  }
}
@keyframes slide {
  0% {
    opacity: 1;
    background-image: url(../assets/images/soap-on-hand.png);
  }
  20% {
    opacity: 1;
    background-image: url(../assets/images/palm-to-palm.png);
  }
  40% {
    opacity: 1;
    background-image: url(../assets/images/between-fingers.png);
  }
  60% {
    opacity: 1;
    background-image: url(../assets/images/back-to-hands.png);
  }
  64% {
    opacity: 1;
    background-image: url(../assets/images/clean-with-water.png);
  }
  80% {
    opacity: 1;
    background-image: url(../assets/images/focus-on-wrist.png);
  }
  100% {
    opacity: 1;
    background-image: url(../assets/images/soap-on-hand.png);
  }
}
.bg-half::after {
  content: "";
  position: absolute;
  inset: 0;
  left: auto;
  width: 50%;
  display: none;
  background: var(--body);
}
@media screen and (min-width: 1024px) {
  .bg-half::after {
    display: block;
  }
}
@-webkit-keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.slide-wash-hands a {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.side-link {
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  opacity: 0;
  text-align: center;
  padding: 1rem 0.25rem;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition:
    opacity 0.5s,
    -webkit-transform 0.25s;
  transition:
    transform 0.25s,
    opacity 0.5s;
  transition:
    transform 0.25s,
    opacity 0.5s,
    -webkit-transform 0.25s;
}
.side-link.active {
  opacity: 1;
  color: var(--primary);
}
.sidebar-open aside .side-link {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition:
    opacity 0.5s,
    -webkit-transform 0.5s;
  transition:
    transform 0.5s,
    opacity 0.5s;
  transition:
    transform 0.5s,
    opacity 0.5s,
    -webkit-transform 0.5s;
}
.side-link:hover {
  opacity: 1;
}
.side-link::before {
  transition:
    opacity 0.3s 0.2s,
    bottom 0.5s;
  position: absolute;
  height: 3px;
  content: "";
  background-color: currentColor;
}
.side-link-fade-up::before {
  inset: 0;
  top: auto;
  width: 100%;
  opacity: 0;
}
.side-link-fade-up:hover::before {
  transition:
    opacity 0.4s,
    bottom 0.2s;
  bottom: 10px;
  opacity: 1;
}
.scroll-top {
  --x: 1.5rem;
  --y: 1.5rem;
  position: fixed;
  z-index: 40;
  right: var(--x);
  bottom: var(--y);
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--white);
}
@media screen and (min-width: 768px) {
  .top-link {
    --x: 3rem;
    --y: 3rem;
  }
}
.backdrop {
  position: fixed;
  inset: 0;
  z-index: 50;
  cursor: -webkit-grab;
  cursor: grab;
  width: 0;
  height: 0;
  max-width: 100vw;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  transition: width 0.5s 0.1s;
}
.backdrop-search {
  opacity: 0;
  transition: opacity 1s 0.1s;
}
.search-open .backdrop-search {
  height: 100%;
  width: 100%;
  opacity: 1;
  color: var(--text);
  transition: opacity 0.75s 0;
}
.backdrop-sidebar {
  height: 100%;
  left: auto;
}
.sidebar-open .backdrop-sidebar {
  width: 100%;
  transition: width 0.5s 0;
}
@media screen and (min-width: 1024px) {
  .sidebar-open .backdrop-sidebar {
    width: 0;
  }
}
.highlight {
  background-color: var(--primary);
  color: var(--white);
  padding: 0 0.25rem;
}
